.btn {
    @include Text($fs-1, $fw-2, $color-white);
    border-radius: $radius-0;
    padding: $pd-1 + 1 $pd-5;
    border: 1px solid transparent;
    transition: $transition;
    height: 50px;
}

.btn.btn--large {
    padding: $pd-3 - 1 $pd-7 + 5;
}

.btn.btn--primary,
.btn.btn--primary:hover,
.btn.btn--secondary:hover {
    background-color: $color-header;
    color: $color-white;
}

.btn.btn--secondary {
    background-color: $bg-color-base;
    color: $color-header;
    border-color: $color-input-bd;
}

.btn.btn--carousel,
.btn.btn--carousel:hover {
    background-color: $bg-color-base;
    color: $color-header;
    font-weight: $fw-4;
    padding: $pd-3 $pd-10;
}

.btn {
    height: auto;
    padding: $pd-3 $pd-4;
    border-radius: 5px;
    line-height: 1;

    &.btn-primary-db {
        background-color: $dash-primary-color;
        @include Text($fs-1, $fw-3, $color-white);
        &:hover {
            background-color: $bg-primary-hover;
            @include Text($fs-1, $fw-3, $color-white);
        }
    }
    &.btn-secondary-db {
        background-color: $color-grey;
        @include Text($fs-1, $fw-3, $color-white);
        &:hover {
            background-color: $color-lighten;
            @include Text($fs-1, $fw-3, $color-white);
        }
    }

    &.btn--buy-now, &.btn--buy-now:hover {
        background-color: $buy-now-btn-color;
        border-radius: $radius-0;
        text-transform: uppercase;
        color: $color-white;
    }
}

