// ======================== CART MODAL =========================

#cartModal {
    &.fade .modal-dialog {
        transform: translate(75px, 0);
    }

    &.show .modal-dialog {
        transform: none;
    }

    .modal-dialog {
        margin: 0 0 0 auto;
        max-height: 100vh;
        max-width: 450px;
    }

    .modal-dialog-scrollable {
        height: 100vh;
    }

    .modal-content {
        border-radius: 0;
        border: none;
        height: 100vh;
    }

    .modal__header {
        padding: $pd-3 - 1 $pd-5;
        h4 {
            @include Text($fs-2 + 2, $fw-2, $color-header);
        }
        button {
            font-size: $fs-3;
            opacity: 0.5;
            transition: $transition;
            &:hover {
                opacity: 1;
            }
        }
    }

    .cart-process {
        padding: $pd-5 + 5 $pd-5 $pd-2 $pd-5;
        background-color: $color-grey-light;
        border-bottom: 1px solid $bd-color-base;
        border-top: 1px solid $bd-color-base;
        .truck-process {
            height: 5px;
            background-color: $bd-color-base;
            margin-bottom: $m-1 + 2;
            position: relative;
            border-radius: $radius-1;
            .truck-icon {
                position: absolute;
                right: 100%;
                top: 50%;
                transform: translate(100%, -50%);
                color: $primary-color;
                border: 1px solid $primary-color;
                background-color: $bg-color-base;
                width: 30px;
                height: 30px;
                line-height: 30px;
                border-radius: 50%;
                font-size: $fs-1;
                text-align: center;
            }
        }
        p {
            @include Text($fs-1, $fw-1, $color-header);
            span {
                @include Text($fs-1, $fw-2, $primary-color);
            }
        }
    }

    .cart-list {
        overflow-y: scroll;

        .cart-empty-notice {
            padding: $pd-7 $pd-5 $pd-5;

            .heading {
                @include Text($fs-2 + 2, $fw-3, $color-header);
                margin-bottom: $m-1;
            }
            .text {
                @include Text($fs-1, $fw-1, $color-header);
            }
            .btn {
                border-radius: $radius-0;
            }
        }
    }

    .product-item {
        padding: 0 $pd-5 $pd-5 $pd-5;
        .product-img {
            width: 87px;
            height: 87px;
            img {
                border-radius: $radius-1;
                object-fit: cover;
            }
        }

        .product-info {
            flex-grow: 1;
            margin-left: $m-3;
            margin-right: $m-1;
            .product-title {
                @include Text($fs-2, $fw-1, $color-header);
            }
            .product-size {
                @include Text($fs-1, $fw-1, $color-grey);
            }
            .product-price {
                margin-top: 6px;
                @include Text($fs-2, $fw-3, $color-header);
            }
            .product-qty {
                background-color: $color-grey-light;
                width: 90px;
                height: 30px;
                border-radius: $radius-1 - 4;
                border: 1px solid $bd-color-base;
                .qty-down,
                .qty-up {
                    background-color: transparent;
                    border: none;
                    width: 25px;
                    height: 25px;
                    font-size: $fs-1 - 2;
                }
                .qty-value {
                    width: 40px;
                    height: 25px;
                    text-align: center;
                    outline: none;
                }
            }
        }

        .product-btn button {
            line-height: 1;
            transition: $transition;
        }

        .product-btn i {
            font-size: $fs-1 - 2;
            color: $color-grey;
            transition: $transition;
            &:hover {
                color: $color-header;
            }
        }
    }

    .cart-checkout {
        border-bottom: 1px solid $bd-color-base;
        border-top: 1px solid $bd-color-base;
        margin-top: auto;
        button {
            background-color: transparent;
            border: none;
            padding: $pd-3 + 2 $pd-2;
        }

        .subtotal {
            background-color: $color-grey-light;
            padding: $pd-2 $pd-5;
            .price {
                h4 {
                    @include Text($fs-2, $fw-2, $color-header);
                }
                p {
                    @include Text($fs-2, $fw-2, $color-header);
                }
            }
            .policy {
                input {
                    appearance: none;
                    -webkit-appearance: none;
                    width: 18px;
                    height: 18px;
                    background-color: $bg-color-base;
                    border: 1px solid $color-grey;
                    margin-right: 8px;
                    &::before {
                        content: '\f00c';
                        display: none;
                        width: 100%;
                        font-weight: 900;
                        font-family: 'Font Awesome 6 Free';
                        font-size: $pd-3 - 2;
                        color: $color-white;
                    }

                    &:checked {
                        background-color: $color-link;
                        border-color: $color-link;
                    }

                    &:checked::before {
                        display: block;
                    }
                }
                .cart-policy {
                    @include Text($fs-2, $fw-1, $color-link-hover);
                }
                .cart-policy-link {
                    @include Text($fs-2, $fw-1, $color-link);
                }
            }
            .btn {
                border-radius: $radius-0;
            }
            .btn.btn--secondary {
                background-color: $bg-color-base;
                color: $color-header;
                border-color: $color-grey;
            }
            .btn.btn--primary,
            .btn.btn--primary:hover,
            .btn.btn--secondary:hover {
                background-color: $color-header;
                color: $color-white;
            }
        }
    }
}
