* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

html, body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: $fs-2;
    line-height: $lh-1;
    font-weight: $fw-1;
    background-color: $bg-color-base;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    background-color: transparent;
    border: none;
}