* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html, body {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 16px;
  line-height: 1.75;
  font-weight: 400;
  background-color: #fff;
}

.body {
  width: 85%;
  margin: auto;
}

.main_banner {
  background-image: url("../../../assets/img/port_bg_cate.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main_banner h1 {
  color: #fff;
  margin-bottom: 0;
}
.main_banner p {
  text-align: center;
  color: #fff;
}
.main_banner a {
  color: #fff;
  text-decoration: none;
  transition: all 0.5s;
}
.main_banner a:hover {
  color: #555;
}

.typeofshoes .item {
  height: 395px;
  width: 295px;
  background-color: #EBEBEB;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
}
.typeofshoes .item button {
  position: absolute;
  bottom: 20px;
  left: 50px;
  padding: 10px 80px;
  background-color: #fff;
  border: none;
  border-radius: 50px;
  font-weight: 600;
}
.typeofshoes .item img {
  height: 395px;
  width: 295px;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.5s;
}
.typeofshoes .item img:hover {
  transform: scale(1.2);
}

.content .content_filter button {
  margin-right: 10px;
}
.content .content_style a {
  text-decoration: none;
}
.content .content_style .icon {
  margin-right: 15px;
}
.content .content_none {
  border-top: 1px solid #555;
}
.content .content_none h4 {
  color: #111;
  font-size: 16px;
  font-weight: 600;
}
.content .content_none .content_category ul {
  list-style: none;
  padding-left: 0;
}
.content .content_none .content_category ul a {
  text-decoration: none;
  color: #555;
}
.content .content_none .content_category ul li {
  transform: translateX(1px);
  transition: all 0.5s;
  color: #555;
}
.content .content_none .content_category ul li:hover {
  transform: translateX(10px);
}
.content .content_none .content_category ul li:hover a {
  color: #111;
}
.content .content_none .content_availability span {
  color: #555;
  transition: all 0.5s;
}
.content .content_none .content_availability span:hover {
  color: #111;
}
.content .content_none .content_brand span {
  color: #555;
  transition: all 0.5s;
}
.content .content_none .content_brand span:hover {
  color: #111;
}
.content .content_none .content_size .type {
  position: relative;
}
.content .content_none .content_size .type span {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border-radius: 5px;
  opacity: 0;
  top: -30px;
  left: 0px;
  background-color: black;
  color: white;
  width: 100%;
}
.content .content_none .content_size .type span::after {
  content: "";
  position: absolute;
  top: 25px;
  justify-content: center;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid black;
  border-bottom: 10px solid transparent;
}
.content .content_none .content_size .type a {
  display: inline-block;
  text-decoration: none;
  border: 2px solid #ebebeb;
  border-radius: 5px;
  color: black;
  margin-top: 5px;
  padding: 2px 15px;
  transition: all 0.5s;
  position: relative;
}
.content .content_none .content_size .type:hover a {
  background-color: black;
  color: white;
}
.content .content_none .content_size .type:hover span {
  opacity: 1;
}
.content .content_none .content_featuredProduct .image {
  width: 75px;
  height: 80px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
.content .content_none .content_featuredProduct .image img {
  width: 75px;
  height: 80px;
  -o-object-fit: cover;
     object-fit: cover;
}
.content .content_none .content_featuredProduct .image .image-none {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 0.5s;
}
.content .content_none .content_featuredProduct .image .image-none:hover {
  opacity: 1;
  transform: scale(1.2);
}
.content .content_none .content_featuredProduct .hot_product h5 {
  color: #111;
  font-size: 14px;
  font-weight: 600;
}
.content .content_none .poster img {
  width: 247px;
  height: 371px;
}
.content .product .item-product .image_product {
  overflow: hidden;
  width: 512px;
  height: 512px;
  border-radius: 10px;
  position: relative;
}
.content .product .item-product .image_product .sale {
  position: absolute;
  top: 10px;
  left: 20px;
  z-index: 1;
}
.content .product .item-product .image_product .sale h5 {
  margin: 0;
  padding: 0;
  display: flex;
  background-color: #d73f0f;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  color: white;
  font-size: 14px;
  width: 50px;
  height: 25px;
}
.content .product .item-product .image_product .sale p {
  margin: 0;
  padding: 0;
  display: flex;
  background-color: #177f91;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  color: white;
  font-size: 14px;
  width: 70px;
  height: 25px;
}
.content .product .item-product .image_product .option {
  position: absolute;
  bottom: 45px;
  left: 180px;
  width: 150px;
  z-index: 1;
}
.content .product .item-product .image_product .option .icon-details {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50px;
  text-align: center;
  margin-right: 10px;
}
.content .product .item-product .image_product .img-2 {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transform: scale(1);
  transition: all 0.6s;
}
.content .product .item-product .image_product .img-1 {
  transform: scale(1);
  transition: all 0.6s;
}
.content .product .item-product .image_product:hover .img-1 {
  transform: scale(1.1);
}
.content .product .item-product .image_product:hover .img-2 {
  opacity: 1;
  transform: scale(1.1);
}
.content .product .item-product h5 {
  color: #555;
  font-size: 14px;
  font-weight: 600;
}
.content .product .item-product h4 {
  color: #111;
  font-size: 14px;
  font-weight: 600;
  margin: 0;
}
.content .product .item-product .star {
  font-size: 10px;
  margin: 10px 0px;
}/*# sourceMappingURL=main.css.map */