* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html, body {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 16px;
  line-height: 1.75;
  font-weight: 400;
  background-color: #fff;
}

.btn {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  border-radius: 30px;
  padding: 11px 30px;
  border: 1px solid transparent;
  transition: all 0.4s;
}

.btn.btn--primary,
.btn.btn--primary:hover,
.btn.btn--secondary:hover {
  background-color: #111;
  color: #fff;
}

.btn.btn--secondary {
  color: #111;
  border-color: #919191;
}

header {
  position: fixed;
  width: 100%;
  z-index: 1000;
  background-color: #fff;
}
header .navbar {
  padding: 11px 18px;
}
header .navbar .nav-left .navbar-brand {
  width: 90px;
}
header .navbar .nav-center .nav-link {
  padding: 10px 15px;
  text-transform: uppercase;
  line-height: 28px;
  transition: all 0.4s;
  color: #111;
  font-size: 14px;
  font-weight: 600;
}
header .navbar .nav-center .nav-link .nav-dropdown-icon {
  font-size: 10px;
  opacity: 0.5;
}
header .navbar .nav-center .nav-link:hover {
  color: #d73f0f;
}
header .navbar .nav-right .nav-icon {
  margin-left: 20px;
}
header .navbar .nav-right .nav-icon button {
  transition: all 0.4s;
  position: relative;
}
header .navbar .nav-right .nav-icon button:hover {
  color: #d73f0f;
}
header .navbar .nav-right .nav-icon button .wish-list-count {
  content: "";
  color: #fff;
  font-size: 10px;
  font-weight: 600;
  display: block;
  position: absolute;
  right: -10px;
  top: 2px;
  width: 18px;
  height: 18px;
  text-align: center;
  line-height: 18px;
  border-radius: 50%;
  background-color: #d73f0f;
}
header .navModal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
}
header .navModal.show {
  display: block;
}
header .navModal.show .nav-mobile {
  left: 0;
}
header .navModal .nav-mobile {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 400px;
  background-color: #fff;
  animation: animateFading 0.4s ease-in-out;
}
@keyframes animateFading {
  from {
    transform: translateX(-400px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
header .navModal .nav-mobile .nav-header {
  background-color: #111;
  padding-left: 15px;
  position: relative;
}
header .navModal .nav-mobile .nav-header h3 {
  padding: 15px;
  margin-bottom: 0;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
}
header .navModal .nav-mobile .nav-header button {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  color: #fff;
  font-size: 18px;
  transition: all 0.4s;
}
header .navModal .nav-mobile .nav-header button:hover {
  color: #d73f0f;
}
header .navModal .nav-mobile .nav-body {
  padding: 10px 30px;
}
header .navModal .nav-mobile .nav-body .nav-item {
  padding: 15px 0;
  text-transform: uppercase;
  border-bottom: 1px solid #EBEBEB;
}
header .navModal .nav-mobile .nav-body .nav-item:last-child {
  border-bottom: none;
}
header .navModal .nav-mobile .nav-body .nav-item .nav-link {
  color: #111;
  font-size: 14px;
  font-weight: 600;
  flex-grow: 1;
}
header .navModal .nav-mobile .nav-body .nav-item button {
  opacity: 0.5;
  font-size: 14px;
  transition: all 0.4s;
}
header .navModal .nav-mobile .nav-body .nav-item button:hover {
  opacity: 1;
}
header .navModal .nav-mobile .nav-footer {
  padding: 10px 25px;
  margin-top: auto;
  margin-bottom: 20px;
}
header .navModal .nav-mobile .nav-footer button {
  margin-top: 10px;
  width: 100%;
}
header .searchModal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
}
header .searchModal.show {
  display: block;
}
header .searchModal.show .modalContainer {
  transform: translateY(0);
}
header .searchModal .modalContainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 50px;
  padding: 60px 0;
  background-color: #fff;
  overflow-y: scroll;
  transform: translateY(-100%);
  animation: animateSearchFadeIn 0.4s linear forwards;
}
@keyframes animateSearchFadeIn {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
header .searchModal .modalContainer .modalHeader {
  width: 50%;
}
header .searchModal .modalContainer .modalHeader .searchModalClose {
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.5);
  transition: all 0.4s;
  z-index: 1;
}
header .searchModal .modalContainer .modalHeader .searchModalClose:hover {
  color: black;
}
header .searchModal .modalContainer .modalHeader h3 {
  color: #111;
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 20px;
}
header .searchModal .modalContainer .modalHeader .inputGroup {
  position: relative;
  margin-bottom: 10px;
}
header .searchModal .modalContainer .modalHeader .inputGroup .form-control {
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 30px;
  padding: 15px 50px 15px 20px;
  box-shadow: none;
  font-size: 14px;
}
header .searchModal .modalContainer .modalHeader .inputGroup .form-control:focus {
  border-color: #000;
}
header .searchModal .modalContainer .modalHeader .inputGroup .input-group-text {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px 20px;
}
header .searchModal .modalContainer .modalHeader .search-title {
  color: #919191;
}
header .searchModal .modalContainer .modalBody {
  margin-top: 10px;
  padding: 0 30px;
}
header .searchModal .modalContainer .modalBody h4 {
  color: #111;
  font-size: 20px;
  font-weight: 600;
}
header .searchModal .modalContainer .modalBody .card-product-link {
  text-decoration: none;
}
header .searchModal .modalContainer .modalBody .card {
  border: none;
  border-radius: 10px;
}
header .searchModal .modalContainer .modalBody .card img {
  border-radius: 10px;
}
header .searchModal .modalContainer .modalBody .card .card-body {
  padding: 0;
}
header .searchModal .modalContainer .modalBody .card .card-body .product-vendor {
  margin-top: 20px;
  margin-bottom: 0;
  color: #919191;
  font-size: 12px;
  font-weight: 600;
}
header .searchModal .modalContainer .modalBody .card .card-body .card-title {
  margin-top: 5px;
  color: #111;
  font-size: 14px;
  font-weight: 600;
}
header .searchModal .modalContainer .modalBody .card .card-body .product-rating {
  font-size: 10px;
  margin-top: 5px;
  color: #000000;
}
header .searchModal .modalContainer .modalBody .card .card-body .product-price {
  color: #111;
  font-size: 16px;
  font-weight: 600;
}
header .searchModal .modalContainer .modalBody .card .card-body .product-price.sale {
  color: #d73f0f;
  font-size: 16px;
  font-weight: 600;
}
header .searchModal .modalContainer .modalBody .card .card-body .product-price-sale {
  color: #999;
  font-size: 16px;
  font-weight: 400;
  text-decoration: line-through;
}
@media screen and (max-width: 575.98px) {
  header .navModal .nav-mobile {
    width: 100%;
  }
}/*# sourceMappingURL=main.css.map */