* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html, body {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 16px;
  line-height: 1.75;
  font-weight: 400;
  background-color: #fff;
}

<<<<<<< HEAD
.btn {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  border-radius: 30px;
  padding: 11px 30px;
  border: 1px solid transparent;
  transition: all 0.4s;
  height: 50px;
}

.btn.btn--large {
  padding: 14px 55px;
}

.btn.btn--primary,
.btn.btn--primary:hover,
.btn.btn--secondary:hover {
  background-color: #111;
  color: #fff;
}

.btn.btn--secondary {
  background-color: #fff;
  color: #111;
  border-color: #dedede;
}

.btn.btn--carousel,
.btn.btn--carousel:hover {
  background-color: #fff;
  color: #111;
  font-weight: 700;
  padding: 15px 60px;
}

.myCarousel {
  margin-top: 70px;
}
.myCarousel img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.myCarousel .carousel-caption {
  text-align: left;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 5.5vw 90px;
  max-width: 50%;
}
.myCarousel .carousel-caption h5 {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 1vw;
}
.myCarousel .carousel-caption h1 {
  font-size: 4.7vw;
  font-weight: 700;
  margin-bottom: 1vw;
  line-height: 1.15;
}
.myCarousel .carousel-caption p {
  line-height: 1.5;
}
.myCarousel .carousel-caption .btn {
  margin-top: 2vw;
}
.myCarousel .carousel-caption .animate__animated.animate__fadeInLeft.animate__delay-0_6s {
  animation-delay: 0.6s;
}
.myCarousel .carousel-caption .animate__animated.animate__fadeInLeft.animate__delay-0_8s {
  animation-delay: 0.8s;
}
.myCarousel .carousel-caption .animate__animated.animate__fadeInLeft.animate__delay-1s2 {
  animation-delay: 1.2s;
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translate3d(-10%, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translateZ(0);
  }
}
.myCarousel .carousel-control-prev,
.myCarousel .carousel-control-next {
  width: 8%;
  opacity: 0;
}
.myCarousel .carousel__wrap-pre-icon,
.myCarousel .carousel__wrap-next-icon {
  width: 60px;
  height: 60px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: all 0.4s;
  border: 1px solid #fff;
}
.myCarousel .carousel__wrap-pre-icon .carousel__prev-icon,
.myCarousel .carousel__wrap-pre-icon .carousel__next-icon,
.myCarousel .carousel__wrap-next-icon .carousel__prev-icon,
.myCarousel .carousel__wrap-next-icon .carousel__next-icon {
  width: 18px;
  color: #111;
  line-height: 1;
}
.myCarousel .carousel__wrap-pre-icon:hover,
.myCarousel .carousel__wrap-next-icon:hover {
  background-color: #111;
  border-color: #111;
}
.myCarousel .carousel__wrap-pre-icon:hover .carousel__prev-icon,
.myCarousel .carousel__wrap-pre-icon:hover .carousel__next-icon,
.myCarousel .carousel__wrap-next-icon:hover .carousel__prev-icon,
.myCarousel .carousel__wrap-next-icon:hover .carousel__next-icon {
  color: #fff;
}
.myCarousel:hover .carousel-control-prev,
.myCarousel:hover .carousel-control-next {
  opacity: 1;
}
.myCarousel:hover .carousel__wrap-pre-icon {
  opacity: 1;
  transform: translateX(-12px);
}
.myCarousel:hover .carousel__wrap-next-icon {
  opacity: 1;
  transform: translateX(12px);
}
.myCarousel .carousel-indicators [data-bs-target] {
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

@media screen and (max-width: 992px) {
  .myCarousel img {
    height: 70vh;
  }
  .myCarousel .carousel-caption {
    max-width: 100%;
    padding-left: 30px;
  }
}
@media screen and (max-width: 768px) {
  .myCarousel img {
    height: 60vh;
  }
  .myCarousel .carousel-caption h1 {
    font-size: 36px;
  }
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #fff;
  height: 70px;
}
header .navbar {
  padding: 11px 18px;
}
header .navbar .nav-left .navbar-brand {
  width: 90px;
}
header .navbar .nav-center .nav-link {
  padding: 10px 15px;
  text-transform: uppercase;
  line-height: 28px;
  transition: all 0.4s;
  color: #111;
  font-size: 14px;
  font-weight: 600;
}
header .navbar .nav-center .nav-link .nav-dropdown-icon {
  font-size: 10px;
  opacity: 0.5;
}
header .navbar .nav-center .nav-link:hover {
  color: #d73f0f;
}
header .navbar .nav-center .nav-link.active {
  color: #d73f0f;
}
header .navbar .nav-right .nav-icon {
  margin-left: 20px;
}
header .navbar .nav-right .nav-icon button {
  transition: all 0.4s;
  position: relative;
}
header .navbar .nav-right .nav-icon button:hover {
  color: #d73f0f;
}
header .navbar .nav-right .nav-icon button .wish-list-count {
  content: "";
  color: #fff;
  font-size: 10px;
  font-weight: 600;
  display: block;
  position: absolute;
  right: -10px;
  top: 2px;
  width: 18px;
  height: 18px;
  text-align: center;
  line-height: 18px;
  border-radius: 50%;
  background-color: #d73f0f;
}
header .navModal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
}
header .navModal.show {
  display: block;
}
header .navModal.show .nav-mobile {
  left: 0;
}
header .navModal .nav-mobile {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 400px;
  background-color: #fff;
  animation: animateFading 0.4s ease-in-out;
}
@keyframes animateFading {
  from {
    transform: translateX(-400px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
header .navModal .nav-mobile .nav-header {
  background-color: #111;
  padding-left: 15px;
  position: relative;
}
header .navModal .nav-mobile .nav-header h3 {
  padding: 15px;
  margin-bottom: 0;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
}
header .navModal .nav-mobile .nav-header button {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  color: #fff;
  font-size: 18px;
  transition: all 0.4s;
}
header .navModal .nav-mobile .nav-header button:hover {
  color: #d73f0f;
}
header .navModal .nav-mobile .nav-body {
  padding: 10px 30px;
}
header .navModal .nav-mobile .nav-body .nav-item {
  padding: 15px 0;
  text-transform: uppercase;
  border-bottom: 1px solid #EBEBEB;
}
header .navModal .nav-mobile .nav-body .nav-item:last-child {
  border-bottom: none;
}
header .navModal .nav-mobile .nav-body .nav-item .nav-link {
  color: #111;
  font-size: 14px;
  font-weight: 600;
  flex-grow: 1;
}
header .navModal .nav-mobile .nav-body .nav-item button {
  opacity: 0.5;
  font-size: 14px;
  transition: all 0.4s;
}
header .navModal .nav-mobile .nav-body .nav-item button:hover {
  opacity: 1;
}
header .navModal .nav-mobile .nav-footer {
  padding: 10px 25px;
  margin-top: auto;
  margin-bottom: 20px;
}
header .navModal .nav-mobile .nav-footer button {
  margin-top: 10px;
  width: 100%;
}
header .searchModal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
}
header .searchModal.show {
  display: block;
}
header .searchModal.show .modalContainer {
  transform: translateY(0);
}
header .searchModal .modalContainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 50px;
  padding: 60px 0;
  background-color: #fff;
  overflow-y: scroll;
  transform: translateY(-100%);
  animation: animateSearchFadeIn 0.4s linear forwards;
}
@keyframes animateSearchFadeIn {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
header .searchModal .modalContainer .modalHeader {
  width: 50%;
}
header .searchModal .modalContainer .modalHeader .searchModalClose {
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.5);
  transition: all 0.4s;
  z-index: 1;
}
header .searchModal .modalContainer .modalHeader .searchModalClose:hover {
  color: black;
}
header .searchModal .modalContainer .modalHeader h3 {
  color: #111;
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 20px;
}
header .searchModal .modalContainer .modalHeader .inputGroup {
  position: relative;
  margin-bottom: 10px;
}
header .searchModal .modalContainer .modalHeader .inputGroup .form-control {
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 30px;
  padding: 15px 50px 15px 20px;
  box-shadow: none;
  font-size: 14px;
}
header .searchModal .modalContainer .modalHeader .inputGroup .form-control:focus {
  border-color: #000;
}
header .searchModal .modalContainer .modalHeader .inputGroup .input-group-text {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px 20px;
}
header .searchModal .modalContainer .modalHeader .search-title {
  color: #919191;
}
header .searchModal .modalContainer .modalBody {
  margin-top: 10px;
  padding: 0 30px;
}
header .searchModal .modalContainer .modalBody h4 {
  color: #111;
  font-size: 20px;
  font-weight: 600;
}
header .searchModal .modalContainer .modalBody .card-product-link {
  text-decoration: none;
}
header .searchModal .modalContainer .modalBody .card {
  border: none;
  border-radius: 10px;
}
header .searchModal .modalContainer .modalBody .card img {
  border-radius: 10px;
}
header .searchModal .modalContainer .modalBody .card .card-body {
  padding: 0;
}
header .searchModal .modalContainer .modalBody .card .card-body .product-vendor {
  margin-top: 20px;
  margin-bottom: 0;
  color: #919191;
  font-size: 12px;
  font-weight: 600;
}
header .searchModal .modalContainer .modalBody .card .card-body .card-title {
  margin-top: 5px;
  color: #111;
  font-size: 14px;
  font-weight: 600;
}
header .searchModal .modalContainer .modalBody .card .card-body .product-rating {
  font-size: 10px;
  margin-top: 5px;
  color: #000000;
}
header .searchModal .modalContainer .modalBody .card .card-body .product-price {
  color: #111;
  font-size: 16px;
  font-weight: 600;
}
header .searchModal .modalContainer .modalBody .card .card-body .product-price.sale {
  color: #d73f0f;
  font-size: 16px;
  font-weight: 600;
}
header .searchModal .modalContainer .modalBody .card .card-body .product-price-sale {
  color: #999;
  font-size: 16px;
  font-weight: 400;
  text-decoration: line-through;
}
header .cartModal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
}
header .cartModal.show {
  display: block;
}
header .cartModal.show .modalContainer {
  transform: translateY(0);
}
header .cartModal .cartModal.cart-empty .cart-process .truck-process {
  background-color: #EBEBEB;
}
header .cartModal .cartModal.cart-empty .cart-process .truck-process .truck-icon {
  left: 0;
}
header .cartModal .cartModal.cart-empty .cart-process .cart-list {
  padding: 50px 30px 30px;
}
header .cartModal .cartModal.cart-empty .cart-process .cart-list .cart-empty-notice {
  display: none;
}
header .cartModal .cartModal.cart-empty .cart-process .cart-list .cart-empty-notice .cart-empty-notice .heading {
  color: #111;
  font-size: 18px;
  font-weight: 500;
}
header .cartModal .cartModal.cart-empty .cart-process .cart-list .cart-empty-notice .cart-empty-notice .text {
  margin-top: 10px;
  color: #111;
  font-size: 16px;
  font-weight: 400;
}
header .cartModal .modalContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  transform: translateX(100%);
  width: 450px;
  background: #fff;
  animation: cartFadeIn 0.4s linear forwards;
}
@keyframes cartFadeIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateY(0);
  }
}
header .cartModal .modal__header {
  padding: 14px 30px;
}
header .cartModal .modal__header h4 {
  color: #111;
  font-size: 18px;
  font-weight: 600;
}
header .cartModal .modal__header button {
  font-size: 20px;
  opacity: 0.5;
  transition: all 0.4s;
}
header .cartModal .modal__header button:hover {
  opacity: 1;
}
header .cartModal .cart-process {
  padding: 35px 30px 20px 30px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #EBEBEB;
  border-top: 1px solid #EBEBEB;
}
header .cartModal .cart-process .truck-process {
  height: 5px;
  background-color: #d73f0f;
  margin-bottom: 12px;
  position: relative;
  border-radius: 10px;
}
header .cartModal .cart-process .truck-process .truck-icon {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  color: #d73f0f;
  border: 1px solid #d73f0f;
  background-color: #fff;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  font-size: 14px;
  text-align: center;
}
header .cartModal .cart-process p {
  color: #111;
  font-size: 14px;
  font-weight: 400;
}
header .cartModal .cart-process p span {
  color: #d73f0f;
  font-size: 14px;
  font-weight: 600;
}
header .cartModal .cart-list {
  overflow-y: scroll;
}
header .cartModal .product-item {
  padding: 0 30px 30px 30px;
}
header .cartModal .product-item .product-img {
  width: 87px;
  height: 87px;
}
header .cartModal .product-item .product-img img {
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}
header .cartModal .product-item .product-info {
  flex-grow: 1;
  margin-left: 15px;
  margin-right: 10px;
}
header .cartModal .product-item .product-info .product-title {
  color: #111;
  font-size: 16px;
  font-weight: 400;
}
header .cartModal .product-item .product-info .product-size {
  color: #919191;
  font-size: 14px;
  font-weight: 400;
}
header .cartModal .product-item .product-info .product-price {
  margin-top: 6px;
  color: #111;
  font-size: 16px;
  font-weight: 500;
}
header .cartModal .product-item .product-info .product-qty {
  background-color: #f5f5f5;
  width: 90px;
  height: 30px;
  border-radius: 6px;
  border: 1px solid #EBEBEB;
}
header .cartModal .product-item .product-info .product-qty .qty-down,
header .cartModal .product-item .product-info .product-qty .qty-up {
  background-color: transparent;
  border: none;
  width: 25px;
  height: 25px;
  font-size: 12px;
}
header .cartModal .product-item .product-info .product-qty .qty-value {
  width: 40px;
  height: 25px;
  text-align: center;
  outline: none;
}
header .cartModal .product-item .product-btn button {
  line-height: 1;
  transition: all 0.4s;
}
header .cartModal .product-item .product-btn i {
  font-size: 12px;
  color: #919191;
  transition: all 0.4s;
}
header .cartModal .product-item .product-btn i:hover {
  color: #111;
}
header .cartModal .cart-checkout {
  border-bottom: 1px solid #EBEBEB;
  border-top: 1px solid #EBEBEB;
}
header .cartModal .cart-checkout button {
  background-color: transparent;
  border: none;
  padding: 17px 20px;
}
header .cartModal .cart-checkout .subtotal {
  background-color: #f5f5f5;
  padding: 20px 30px;
}
header .cartModal .cart-checkout .subtotal .price {
  color: #111;
  font-size: 18px;
  font-weight: 500;
}
header .cartModal .cart-checkout .subtotal .policy input {
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  width: 18px;
  height: 18px;
  background-color: #fff;
  border: 1px solid #919191;
  margin-right: 8px;
}
header .cartModal .cart-checkout .subtotal .policy input::before {
  content: "\f00c";
  display: none;
  width: 100%;
  font-weight: 900;
  font-family: "Font Awesome 6 Free";
  font-size: 13px;
  color: #fff;
}
header .cartModal .cart-checkout .subtotal .policy input:checked {
  background-color: #111;
  border-color: #111;
}
header .cartModal .cart-checkout .subtotal .policy input:checked::before {
  display: block;
}
header .cartModal .cart-checkout .subtotal .policy .cart-policy {
  color: #555;
  font-size: 16px;
  font-weight: 400;
}
header .cartModal .cart-checkout .subtotal .policy .cart-policy-link {
  color: #111;
  font-size: 16px;
  font-weight: 400;
}
header .cartModal .cart-checkout .subtotal .btn.btn--secondary {
  background-color: #fff;
  color: #111;
  border-color: #919191;
}
header .cartModal .cart-checkout .subtotal .btn.btn--primary,
header .cartModal .cart-checkout .subtotal .btn.btn--primary:hover,
header .cartModal .cart-checkout .subtotal .btn.btn--secondary:hover {
  background-color: #111;
  color: #fff;
}
header .loginModal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
  align-items: center;
  justify-content: center;
}
header .loginModal.show {
  display: flex;
}
header .loginModal.show .modalContainer {
  opacity: 1;
  visibility: visible;
}
header .loginModal .modalContainer {
  width: 500px;
  background: #fff;
  border-radius: 5px;
  position: relative;
  opacity: 0;
  visibility: hidden;
  display: none;
}
header .loginModal .modalContainer .closeLoginIcon {
  position: absolute;
  top: 10px;
  right: 20px;
  padding: 10px;
  line-height: 1;
  font-size: 20px;
  color: #919191;
  transition: all 0.4s;
}
header .loginModal .modalContainer .closeLoginIcon:hover {
  color: #111;
}
header .loginModal .modalContainer.login {
  display: block;
}
header .loginModal .modalContainer.register {
  display: block;
}
header .loginModal .modalContainer.register .login_forgot {
  font-size: 14px;
}
header .loginModal .modal__header {
  padding-top: 35px;
}
header .loginModal .modal__header h4 {
  color: #111;
  font-size: 24px;
  font-weight: 600;
}
header .loginModal .modal_body {
  padding: 30px;
}
header .loginModal .modal_body .form-control {
  color: #555;
  font-size: 14px;
  font-weight: 400;
  padding: 10px 20px;
  border-radius: 30px;
  height: 50px;
  box-shadow: none;
  border: 1px solid #dedede;
  transition: all 0.4s;
}
header .loginModal .modal_body .form-control:focus {
  border-color: #111;
}
header .loginModal .modal_body .login_forgot {
  color: #555;
}
header .loginModal .modal_body .login__button {
  margin-top: 30px;
}
header .loginModal .modal_body .login__button button {
  width: 100%;
}
header .loginModal .modal_body .login__button .btn.btn--secondary {
  margin-top: 20px;
}

@media screen and (max-width: 575.98px) {
  header .navModal .nav-mobile {
    width: 100%;
  }
  header .cartModal .modalContainer {
    width: 100%;
  }
}
.section-header {
  margin-bottom: 20px;
}
.section-header .section-heading {
  color: #111;
  font-size: 45px;
  font-weight: 600;
  margin-bottom: 5px;
}

.trendProduct .nav-tabs {
  border-bottom: none;
  margin-bottom: 40px;
}
.trendProduct .nav-tabs .nav-item {
  margin-right: 20px;
  margin-left: 20px;
}
.trendProduct .nav-tabs .nav-item .nav-link {
  color: #111;
  font-size: 14px;
  font-weight: 600;
  padding: 0;
  border: none;
  text-align: center;
  line-height: 1.4;
}
.trendProduct .nav-tabs .nav-item .nav-link::after {
  content: "";
  display: block;
  height: 2px;
  background-color: #111;
  width: 0;
  transition: all 0.4s;
}
.trendProduct .nav-tabs .nav-item .nav-link:hover::after {
  width: 100%;
}
.trendProduct .nav-tabs .nav-item .nav-link.active {
  border: none;
}
.trendProduct .nav-tabs .nav-item .nav-link.active::after {
  width: 100%;
}

=======
>>>>>>> phuc
.body {
  width: 85%;
  margin: auto;
}

.main_banner {
  background-image: url("../../../assets/img/port_bg_cate.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main_banner h1 {
  color: #fff;
  margin-bottom: 0;
}
.main_banner p {
  text-align: center;
  color: #fff;
}
.main_banner a {
  color: #fff;
  text-decoration: none;
  transition: all 0.5s;
}
.main_banner a:hover {
  color: #555;
}

.typeofshoes .item {
  height: 395px;
  width: 295px;
  background-color: #EBEBEB;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
}
.typeofshoes .item button {
  position: absolute;
  bottom: 20px;
  left: 50px;
  padding: 10px 80px;
  background-color: #fff;
  border: none;
  border-radius: 50px;
  font-weight: 600;
}
.typeofshoes .item img {
  height: 395px;
  width: 295px;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.5s;
}
.typeofshoes .item img:hover {
  transform: scale(1.2);
}

.content .content_filter button {
  margin-right: 10px;
}
.content .content_style a {
  text-decoration: none;
}
.content .content_style .icon {
  margin-right: 15px;
}
.content .content_none {
  border-top: 1px solid #555;
}
.content .content_none h4 {
  color: #111;
  font-size: 16px;
  font-weight: 600;
}
.content .content_none .content_category ul {
  list-style: none;
  padding-left: 0;
}
.content .content_none .content_category ul a {
  text-decoration: none;
  color: #555;
}
.content .content_none .content_category ul li {
  transform: translateX(1px);
  transition: all 0.5s;
  color: #555;
}
.content .content_none .content_category ul li:hover {
  transform: translateX(10px);
}
.content .content_none .content_category ul li:hover a {
  color: #111;
}
.content .content_none .content_availability span {
  color: #555;
  transition: all 0.5s;
}
.content .content_none .content_availability span:hover {
  color: #111;
}
.content .content_none .content_brand span {
  color: #555;
  transition: all 0.5s;
}
.content .content_none .content_brand span:hover {
  color: #111;
}
.content .content_none .content_size a {
  display: inline-block;
  text-decoration: none;
  border: 2px solid #ebebeb;
  color: black;
  margin-top: 30px;
  padding: 10px 15px;
  transition: all 0.5s;
  position: relative;
}
.content .content_none .content_size a:hover {
  background-color: black;
  color: white;
}
.content .content_none .content_featuredProduct .image {
  width: 75px;
  height: 80px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
.content .content_none .content_featuredProduct .image img {
  width: 75px;
  height: 80px;
  -o-object-fit: cover;
     object-fit: cover;
}
.content .content_none .content_featuredProduct .image .image-none {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 0.5s;
}
.content .content_none .content_featuredProduct .image .image-none:hover {
  opacity: 1;
  transform: scale(1.2);
}
.content .content_none .content_featuredProduct .hot_product h5 {
  color: #111;
  font-size: 14px;
  font-weight: 600;
}
.content .content_none .poster img {
  width: 247px;
  height: 371px;
}
.content .product .item-product .image_product {
  overflow: hidden;
  width: 512px;
  height: 512px;
  border-radius: 10px;
  position: relative;
}
.content .product .item-product .image_product .sale {
  position: absolute;
  top: 10px;
  left: 20px;
  z-index: 1;
}
.content .product .item-product .image_product .sale h5 {
  margin: 0;
  padding: 0;
  display: flex;
  background-color: #d73f0f;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  color: white;
  font-size: 14px;
  width: 50px;
  height: 25px;
}
.content .product .item-product .image_product .sale p {
  margin: 0;
  padding: 0;
  display: flex;
  background-color: #177f91;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  color: white;
  font-size: 14px;
  width: 70px;
  height: 25px;
}
.content .product .item-product .image_product .option {
  position: absolute;
  bottom: 45px;
  left: 180px;
  width: 150px;
  z-index: 1;
}
.content .product .item-product .image_product .option .icon-details {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50px;
  text-align: center;
  margin-right: 10px;
}
.content .product .item-product .image_product .img-2 {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transform: scale(1);
  transition: all 0.6s;
}
.content .product .item-product .image_product .img-1 {
  transform: scale(1);
  transition: all 0.6s;
}
.content .product .item-product .image_product:hover .img-1 {
  transform: scale(1.1);
}
.content .product .item-product .image_product:hover .img-2 {
  opacity: 1;
  transform: scale(1.1);
}
.content .product .item-product h5 {
  color: #555;
  font-size: 14px;
  font-weight: 600;
}
.content .product .item-product h4 {
  color: #111;
  font-size: 14px;
  font-weight: 600;
  margin: 0;
}
.content .product .item-product .star {
  font-size: 10px;
  margin: 10px 0px;
}/*# sourceMappingURL=main.css.map */