footer {
    background-color: $color-link;
    font-size: $fs-1;
    .container_top {
        padding-top: 95px;
        p {
            color: #555;
        }
        h5 {
            font-size: $fs-1;
            color: white;
        }
        .container_contact {
            img {
                width: 90px;
                height: 19px;
            }
            ul {
                list-style: none;
                padding-left: 0;
                li {
                    color: $color-footer-link;
                }
                a {
                    text-decoration: none;
                    color: $color-footer-link;
                    transition: all 0.5s;
                    &:hover {
                        color: white;
                    }
                }
            }
            .container_icon {
                .list-social__item {
                    svg {
                        transition: all 0.5s;
                    }
                    margin-left: 10px;
                    position: relative;
                    &:hover {
                        svg {
                            circle {
                                stroke: white;
                            }
                            path {
                                fill: white;
                            }
                        }
                        .name-icon-1 {
                            opacity: 1;
                            transform: translateY(0);
                            color: white;
                        }
                        .name-icon-2 {
                            opacity: 1;
                            transform: translateY(0);
                        }
                        .name-icon-3 {
                            opacity: 1;
                            transform: translateY(0);
                        }
                        .name-icon-4 {
                            opacity: 1;
                            transform: translateY(0);
                        }
                        .name-icon-5 {
                            opacity: 1;
                            transform: translateY(0);
                        }
                        .name-icon-6 {
                            opacity: 1;
                            transform: translateY(0);
                        }
                    }
                    .name-icon-1 {
                        position: absolute;
                        bottom: -33px;
                        left: -6px;
                        color: white;
                        opacity: 0;
                        transform: translateY(-20px);
                        transition: all 0.5s;
                    }
                    .name-icon-2 {
                        position: absolute;
                        bottom: -33px;
                        left: -14px;
                        color: white;
                        opacity: 0;
                        transform: translateY(-20px);
                        transition: all 0.5s;
                    }
                    .name-icon-3 {
                        position: absolute;
                        bottom: -33px;
                        left: -14px;
                        color: white;
                        opacity: 0;
                        transform: translateY(-20px);
                        transition: all 0.5s;
                    }
                    .name-icon-4 {
                        position: absolute;
                        bottom: -33px;
                        left: -15px;
                        color: white;
                        opacity: 0;
                        transform: translateY(-20px);
                        transition: all 0.5s;
                    }
                    .name-icon-5 {
                        position: absolute;
                        bottom: -33px;
                        left: -11px;
                        color: white;
                        opacity: 0;
                        transform: translateY(-20px);
                        transition: all 0.5s;
                    }
                    .name-icon-6 {
                        position: absolute;
                        bottom: -33px;
                        left: -2px;
                        color: white;
                        opacity: 0;
                        transform: translateY(-20px);
                        transition: all 0.5s;
                    }
                }
            }
        }
        .container_type {
            ul {
                list-style: none;
                padding-left: 0;
                a {
                    text-decoration: none;
                    color: $color-link-hover;
                }
                li {
                    transform: translateX(1px);
                    transition: $transition;
                    color: $color-footer-link;
                    &:hover {
                        transform: translateX(10px);
                        color: white;
                    }
                }
            }
        }
        .container_service {
            ul {
                list-style: none;
                padding-left: 0;
                a {
                    text-decoration: none;
                    color: $color-link-hover;
                }
                li {
                    transform: translateX(1px);
                    transition: all 0.5s;
                    color: $color-footer-link;
                    cursor: pointer;
                    &:hover {
                        transform: translateX(10px);
                        color: white;
                    }
                }
            }
        }
        .container_mail {
            input {
                width: 70%;
                padding: 10px 0px;
                padding-left: $pd-2;
                margin-right: 10px;
                border-radius: 50px;
                background-color: $color-link;
                border: 1px solid #333333;
                color: $color-footer-link;
            }
            button {
                font-size: $fs-1;
                padding: 10px 35px;
                border-radius: 50px;
                background-color: white;
                color: black;
                font-weight: $fw-2;
            }
            p {
                color: $color-footer-link;
            }
        }
    }
    .copyright {
        padding: 50px 10px;
        border-top: 1px solid $color-gray;
        color: $color-footer-link;
        .language {
            .language_country {
                display: inline-block;
                margin-right: 10px;
            }
            .language_price {
                display: inline-block;
            }
        }
        .image_payment {
            img {
                width: 400px;
            }
        }
    }
}
