footer{
    background-color: $color-link;
    .container_top{
        padding-top: 95px;
        p{
            color: #555;
        }
        h5{
            font-size: $fs-1;
            color: white ;
        }
        .container_contact{
            img{
                width: 90px;
                height: 19px;
            }
            ul {
                list-style: none;
                padding-left: 0;
                li{
                    color: $color-link-hover;
                }
                a{ 
                    text-decoration: none;
                    color: $color-link-hover;
                    transition: all .5s;
                    &:hover{
                        color: white;
                    }
                }
                
            }
            .container_icon{
                .list-social__item{
                    svg{
                        transition: all .5s;
                    }
                    margin-left: 10px;
                    position: relative;     
                    &:hover{
                        svg{
                            circle{
                                stroke: white;
                            }
                            path{
                                fill: white;
                            }
                        }
                        .name-icon-1{
                           opacity: 1;
                           transform: translateY(0);
                           color: white;                          
                        }
                        .name-icon-2{
                           opacity: 1;
                           transform: translateY(0);
                        }
                        .name-icon-3{
                           opacity: 1;
                           transform: translateY(0);
                        }
                        .name-icon-4{
                           opacity: 1;
                           transform: translateY(0);
                        }
                        .name-icon-5{
                           opacity: 1;
                           transform: translateY(0);
                        }
                        .name-icon-6{
                           opacity: 1;
                           transform: translateY(0);
                        }
                    }
                    .name-icon-1{
                        position: absolute;
                        bottom: -33px;
                        left: -6px;
                        color: white;
                        opacity: 0;
                        transform: translateY(-20px);
                        transition: all .5s;
                    }
                    .name-icon-2{
                        position: absolute;
                        bottom: -33px;
                        left: -14px;
                        color: white;
                        opacity: 0;
                        transform: translateY(-20px);
                        transition: all .5s;
                    }
                    .name-icon-3{
                        position: absolute;
                        bottom: -33px;
                        left: -14px;
                        color: white;
                        opacity: 0;
                        transform: translateY(-20px);
                        transition: all .5s;
                    }
                    .name-icon-4{
                        position: absolute;
                        bottom: -33px;
                        left: -15px;
                        color: white;
                        opacity: 0;
                        transform: translateY(-20px);
                        transition: all .5s;
                    }
                    .name-icon-5{
                        position: absolute;
                        bottom: -33px;
                        left: -11px;
                        color: white;
                        opacity: 0;
                        transform: translateY(-20px);
                        transition: all .5s;
                    }
                    .name-icon-6{
                        position: absolute;
                        bottom: -33px;
                        left: -2px;
                        color: white;
                        opacity: 0;
                        transform: translateY(-20px);
                        transition: all .5s;
                    }
                }

            }
        }
        .container_type{
            ul {
                list-style: none;
                padding-left: 0;
                a{ 
                    text-decoration: none;
                    color: $color-link-hover;
                }
                li{
                    transform: translateX(1px);
                    transition: all .5s;
                    color: $color-link-hover;
                    cursor: pointer;
                   &:hover{
                        transform: translateX(10px);
                        color: white;
                   }
                    
                }
            }
        }
        .container_service{
            ul {
                list-style: none;
                padding-left: 0;
                a{ 
                    text-decoration: none;
                    color: $color-link-hover;
                }
                li{
                    transform: translateX(1px);
                    transition: all .5s;
                    color: $color-link-hover;
                    cursor: pointer;
                   &:hover{
                        transform: translateX(10px);
                        color: white;
                   }
                    
                }
            }
        }
        .container_mail{
            input{
                width: 70%;
                padding: 10px 0px;
                padding-left: 30px;
                margin-right: 10px;
                border-radius: 50px;
                background-color: $color-link;
                border: 1px solid #333333;
                color: white;
            }
            button{
                padding: 10px 35px;
                border-radius: 50px;
                background-color: white;
                color: black;
                font-weight: $fw-2;
            }
        }
    }
    .copyright{
        padding: 50px 10px;
        border-top: 2px solid $color-link-hover ;
        color: $color-link-hover;
        .language{
            .language_country{
                display: inline-block;
                margin-right: 10px;
            }
            .language_price{
                display: inline-block;
            }
        }
        .image_payment{
            img{
                width: 400px;
            }
        }   

    }

}