.headerProducts{
    .breadcrumbs{
        ol{
            display: flex;
            list-style: none;
            a{
                text-decoration: none;
                color: $color-gray;
                margin-left: 5px;
                transition: all .5s;
                &:hover{
                    color: $color-grey;
                }
            }
        }
    }
}
.inforAboutProducts{
    margin-bottom: 100px;
    .details_product{
        .content_left{
            position: sticky;
            top: 0;
            img{
                border-radius: $radius-2;
                cursor: zoom-in;
                        
            }
        }
        .content-right{
            a{
                text-decoration: none;
                color: $color-lighten;
            }
            h4{
                font-weight: $fw-2;
            }
            .evalute{
                display: flex;
                gap: 15px;
                .star{
                    font-size: $fs-1;
                }
                .review{
                    cursor: pointer;
                    span{
                        color:$color-lighten;
                        font-size: $fs-1;
                    }
                }
                .flex{
                    display: flex;
                    gap: 5px;
                    .text{
                        color: #e9977d;
                        font-size: $fs-1 ;
                    }
                }
            }
            .size{
                .size_product{
                    .sizeofProduct{
                        &:hover{
                            span{
                                background-color: $color-black;
                                color: white;
                                border: 1px solid $color-black;
                            }
                            .showSize{
                                opacity: 1;
                            }
                        }
                        span{
                            padding: 10px 15px;
                            border: 1px solid $color-grey;
                            border-radius: $radius-2;
                            cursor: pointer;
                            transition: all .5s;
                        }
                        .showSize{
                            top: -30px;
                            left: 50%;
                            transform: translate(-50%,-50%);
                            padding: 2px 15px;
                            font-size: $fs-0;
                            border-radius: 2px;
                            opacity: 0;
                            background-color: $color-black;
                            color: white;
                            transition: all .5s;
                            &::after{
                                content: '';
                                position: absolute;
                                top: 120%;
                                left: 50%;
                                transform: translate(-50%,-50%);
                                border-left: 8px solid transparent;
                                border-right: 8px solid transparent;
                                border-top: 8px solid black;
                                border-bottom: 8px solid transparent;
                            }
                        }
                    }
                }
            }
            .infor_product{
                .infor_size{
                    .ruler{
                        margin-right: 7px;
                    }
                    .modal-content{
                        transform: translate(-50%);
                        left: 50%;
                        top: 50%;
                        min-width: 805px;
                        .modal-body{
                            table{
                                border-collapse: collapse;
                                th{
                                    padding: 10px 0px;
                                    padding-left: 10px;
                                    padding-right: 40px;
                                    border: 1px solid $color-lighten; 
                                }
                                td {
                                    border: 1px solid $color-lighten;
                                    padding: 5px 0;
                                    padding-left: 10px;
                                    padding-right: 60px;
                                  }
                            }
                        }
                    }
                }
                .askQuestion{
                    .icon_question{
                        margin-right: 6px;
                    } 
                }
                .share_product{
                    svg{
                        margin-right: 6px;
                    }
                }  
            }
            .button_order{
                border-top: 1px solid $color-grey-light ;
                padding-top: 25px ;
                .buy_amount{
                    .minus-btn{
                        padding: 10px 20px;
                        border: none;
                        border-top-left-radius: 50px;
                        border-bottom-left-radius: 50px;
                    }
                    .input_value{
                        padding: 10px;
                        width: 40px;
                        border: none;
                        background-color: #efefef;
                        &:focus-visible{
                            outline: none;
                        }
                    }
                    .plus-btn{
                        padding: 10px 20px;
                        border: none;
                        border-top-right-radius: 50px;
                        border-bottom-right-radius: 50px;
                    }
                }
                .submit_add{
                    button{
                        min-width: 250px;
                    }
                }
                .icon_heart{
                    display: flex;
                    width: 50px;
                    height: 50px;
                    justify-content: center;
                    align-items: center;
                    border: 2px solid $color-grey-light;
                    border-radius: 50px;
                    margin-right: 5px;
                    &:hover{
                        background-color: black;
                        svg{
                            filter: invert(100%);
                        }
                        .tooltips{
                            opacity: 1;
                        }
                    }
                    .tooltips{
                        width: 100px;
                        padding: 7px 15px;
                        top: -120%;
                        left: 50%;
                        font-size: $fs-0;
                        transform: translate(-50%,50%);
                        background-color: black;
                        text-align: center;
                        color: white;
                        opacity: 0;
                        transition: all .5s;
                        &::after{
                            content: "";
                            position: absolute;
                            top: 120%;
                            left: 50%;
                            transform: translate(-50%,-50%);
                            border-left: 10px solid transparent;
                            border-right: 10px solid transparent;
                            border-top: 10px solid black;
                            border-bottom: 10px solid transparent;
    
                        }
                    }
                }
                .icon_compare{
                    display: flex;
                    width: 50px;
                    height: 50px;
                    justify-content: center;
                    align-items: center;
                    border: 2px solid $color-grey-light;
                    border-radius: 50px;
                    &:hover{
                        background-color: black;
                        svg{
                            filter: invert(100%);
                        }
                        .tooltips{
                            opacity: 1;
                        }
                    }
                    .tooltips{
                        padding: 7px 15px;
                        top: -120%;
                        left: 50%;
                        font-size: $fs-0;
                        transform: translate(-50%,50%);
                        background-color: black;
                        text-align: center;
                        color: white;
                        opacity: 0;
                        transition: all .5s;
                        &::after{
                            content: "";
                            position: absolute;
                            top: 120%;
                            left: 50%;
                            transform: translate(-50%,-50%);
                            border-left: 10px solid transparent;
                            border-right: 10px solid transparent;
                            border-top: 10px solid black;
                            border-bottom: 10px solid transparent;
    
                        }
                    }
                }
            }
            .check_boxRule{
                .check{
                    margin-right: 5px;
                }
                .rule{
                    font-size: $fs-1;
                    .modal-content{
                        max-width: 645px;
                    }
                }
                a{
                    &:hover{
                        color: blue;
                    }
                }
            }
            .button_buyItNow{
                button{
                    background-color: #df653f;
                    color: white;
                    width: 100%;
                    &:hover{
                        border: none;
                    }
                }
            }
            .return_information{
                border-bottom: 2px solid $color-grey-light;
                svg{
                    margin-right: 10px;
                }
                p{
                    margin-bottom: 0px;
                }
            }
            .typeofProduct{
                ul{
                    padding-left: 0;
                    list-style: none;
                    li{
                        .property{
                            min-width: 8rem;
                            display: inline-block;
                        }
                    }
                }
            }
            .paymet_trust_badge{
                border-radius: $radius-2;
                border: 1px solid #EBEBEB;
                span{
                    font-weight: $fw-2;
                    top: -25%;
                    left: 50%;
                    transform: translate(-50%   );
                    background-color: white;
                }
                img{
                    padding: 20px 25px;
                    width: 300px;
                    margin: auto;
                }
            }
        }
    }   
}
.reviewAboutProducts{
    border-top: 1px solid $color-lighten;
    border-bottom: 1px solid $color-lighten;
    padding: 60px 0px;
    .nav-item{
        .nav-link{
            color: black;
            font-weight: $fw-2;
            background-color: $color-grey-light;
            margin-right: 10px;
            border-radius: 40px;
            &.active{
                background-color: $color-black;
                color: white;
            }
        }
    }
    .tab-content{
        margin-top: 55px;
        #pillDesc{
            .content_left{
                h5{
                    color: $color-black;
                    font-weight: $fw-2;
                    font-size: $fs-2 ;
                }
                p{
                    color: $color-lighten;
                    font-size: $fs-1;
                }
                ul{
                    list-style: none;
                    padding-left: 0;
                    color: $color-lighten;
                    font-size: $fs-1;
                }
            }
            .content_right{
                h5{
                    color: $color-black;
                    font-weight: $fw-2;
                    font-size: $fs-2;
                }
                p{
                    margin-bottom: 10px;
                    color: $color-lighten;
                }
                .icon{
                    margin-right: 5px;
                }
            }
            .title_description{
                p{
                    color: $color-lighten;
                    font-size: $fs-1;
                }
            }
        }
        #pillRev{
            .header_rev{
                .leftHand{
                    margin-top: 10px;
                    .icon_star{
                        margin-right: 10px;
                    }
                    .numberEvalute{
                        color: $color-lighten;
                        font-size: $fs-1;
                    }
                }
            }
            .content-none{
                display: none;
                border-top: 1px solid $color-lighten;
                overflow: hidden;
                max-height: 800px;
                .name{
                    input{
                        padding: 10px;
                        padding-left: 20px;
                        border-radius: $radius-0;
                        border: 1px solid $color-grey;
                    }
                }
                .email{
                    input{
                        padding: 10px;
                        padding-left: 20px;
                        border-radius: $radius-0;
                        border: 1px solid $color-grey;
                    } 
                }
                .rate{
                    h5{
                        font-size: $fs-1;
                        font-weight: $fw-2;
                        margin-bottom: 0px;
                    }
                    .rating {
                        font-size: 24px;
                      }
                      
                      .star {
                        cursor: pointer;
                        color: gray;
                      }
                      
                      .star:hover,
                      .star.active {
                        color:black;
                      }
                      
                }
                .review{
                    input{
                        padding: 10px;
                        padding-left: 20px;
                        border-radius: $radius-0;
                        border: 1px solid $color-grey;
                    }
                }
                .bodyofReview{
                    textarea{
                        max-height: 200px;
                        padding: 10px;
                        padding-left: 20px;
                        border-radius: $radius-0;
                        border: 1px solid $color-grey;
                    }
                }
            }
            .commentofCustomer{
                border-top: 2px dotted $color-lighten; 
                .content_command{
                    .icon_star{
                        margin-right: 10px;
                    } 
                    .header_command{
                        span{
                            font-size: $fs-1;
                            font-weight: $fw-2;
                        }
                    }   
                }
                .inforCustomer{
                    margin-bottom: 10px;
                    span{
                        color: $color-lighten;
                        font-size: $fs-1;
                    }
                }
                .contentCustommer{
                    p{
                        font-size: $fs-1;
                    }
                }
               
            }
        }
        #pillShip{
            .content_ship{
                ul{
                    list-style: none;
                    font-size: $fs-1;
                    li{
                        margin-bottom: 15px;
                        color: $color-lighten;
                    }
                }
            }
        }
        #pillRe{
           .returnPolicy{
            p{
                color: $color-lighten;
                font-size: $fs-1;
            }
               ul{
                    padding-left: 0;
                    list-style: none;
                    li{
                        color: $color-lighten;
                    }
               }
           } 
        }
    }
}
.recentlyViewed{
    padding: 100px 0px;
    .recentlyViewed_header{
        h2{
            font-weight: $fw-2;
        }
        p{
            font-size: $fs-1;
            color: $color-lighten;
        }
    }
}
.peopleAlsoBuy{
    padding-bottom: 100px;
    .peopleAlsoBuy_header{
        h2{
            font-weight: $fw-2;
        }
        p{
            font-size: $fs-1;
            color: $color-lighten;
        }
    }
}


// thẻ sản phẩm
.card_product{
    .item-product{
        .image_product{
            overflow: hidden;
            border-radius: 10px;
            position: relative;
            .sale{
                position: absolute;
                top: 10px;
                left: 20px;
                z-index: 1;
                h5{
                    margin: 0;
                    padding: 0;
                    display: flex;
                    background-color: $primary-color;
                    align-items: center;
                    justify-content: center;
                    border-radius: 10px;
                    color: white;
                    font-size: $fs-1;
                    width: 50px;
                    height: 25px;
                }
                p{
                    margin: 0;
                    padding: 0;
                    display: flex;
                    background-color: #177f91;
                    align-items: center;
                    justify-content: center;
                    border-radius: 10px;
                    color: white;
                    font-size: $fs-1;
                    width: 70px;
                    height: 25px;
                }
            }
            .option{
                position: absolute;
                bottom:  -90px;
                left: 55%;
                transform: translate(-50%,-50%);
                width: 150px;
                opacity: 0;
                z-index: 1;
                transition: all .5s;
                .icon{
                    position: relative;
                    span{
                        font-size: 9px;
                        width: 80px;
                        top: -25px;
                        left: 60%;
                        transform: translate(-50px,-50%);
                        position: absolute;
                        border-radius: 5px ;
                        background-color: black;
                        color: white;
                        padding: 5px 10px;
                        opacity: 0;
                        transition: all .5s;
                        &::after{
                            content: '';
                            position: absolute;
                            top: 23px;
                            left: 50%;
                            transform: translate(-50%);
                            border-left: 10px solid transparent;
                            border-right: 10px solid transparent;
                            border-top: 10px solid black;
                            border-bottom: 10px solid transparent;
                        }
                    }
                    .icon-details{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 40px;
                        height: 40px;
                        background-color:$bg-color-base ;
                        border-radius: 50px;
                        text-align: center;
                        margin-right: 10px;
                        transition: all .5s;
                    }
                    &:hover{
                        span{
                            opacity: 1;
                        }
                        .icon-details{
                            filter: invert(100%);
                        }
                    }
                }
                
            }
            .img-2{
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0;
                transform: scale(1);
                transition: all .6s;
            }
            .img-1{
                transform: scale(1);
                transition: all .6s;
            }
            &:hover{
                .img-1{
                    transform: scale(1.1);
                }
                .img-2{
                    opacity: 1;
                    transform: scale(1.1);
                }
                .option{
                    bottom:  5px;
                    opacity: 1;
                }
            }
        }
        h5{
            @include Text ($fs-1,$fw-2,$color-link-hover);
        }
        h4{
            @include Text ($fs-1,$fw-2,$color-link);
            margin: 0;
        }
        .star{
            font-size: 10px;
            margin: 10px 0px;
        }
    }
}
