<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Title</title>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

        <!-- Bootstrap CSS v5.2.1 -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous" />

        <!-- FontAwesome 6.2.0 CSS -->
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
            integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer" />

        <!-- Google font  -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet" />

        <!-- Main css  -->
        <link rel="stylesheet" href="/assets/css/main.css" />
    </head>

    <body>
        <header class="headerDashboard">
            <nav class="navbar navbar-expand-md fixed-top">
                <div class="container-fluid">
                    <div class="navbar-left d-flex align-items-center">
                        <!-- Logo  -->
                        <a class="navbar-brand text-center me-5" href="./dashboard.html">
                            <img src="../../assets/brand/logo.avif" alt="" class="img-fluid" />
                            <div class="brand-text mt-1">DASHBOARD</div>
                        </a>

                        <!-- Sidebar button  -->
                        <button class="navbar__toogle-sidebar border-0 rounded-circle ms-3">
                            <svg xmlns="http://www.w3.org/2000/svg" width="18px" viewBox="0 0 24 24" class="svg replaced-svg">
                                <path fill="#525768" d="M5,8H19a1,1,0,0,0,0-2H5A1,1,0,0,0,5,8Zm16,3H3a1,1,0,0,0,0,2H21a1,1,0,0,0,0-2Zm-2,5H5a1,1,0,0,0,0,2H19a1,1,0,0,0,0-2Z"></path>
                            </svg>
                        </button>

                        <!-- Go shop  -->
                        <a href="../../index.html" class="navbar__toogle-sidebar border-0 rounded-circle ms-3 d-flex align-items-center justify-content-center">
                            <i class="fa-solid fa-house"></i>
                        </a>
                    </div>

                    <!-- Navbar button  -->
                    <button class="navbar-toggler border-0 d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar__toggler-icon">
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </span>
                    </button>

                    <!-- Navbar list  -->
                    <div class="collapse navbar-collapse" id="collapsibleNavId">
                        <ul class="navbar-nav ms-auto align-items-center flex-row justify-content-end">
                            <li class="nav-item">
                                <a class="nav-link" href="#" aria-current="page">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="16" viewBox="0 0 20 16" class="svg replaced-svg">
                                        <path
                                            id="envelope"
                                            d="M19,4H5A3,3,0,0,0,2,7V17a3,3,0,0,0,3,3H19a3,3,0,0,0,3-3V7a3,3,0,0,0-3-3Zm-.41,2-5.88,5.88a1,1,0,0,1-1.42,0L5.41,6ZM20,17a1,1,0,0,1-1,1H5a1,1,0,0,1-1-1V7.41l5.88,5.88a3,3,0,0,0,4.24,0L20,7.41Z"
                                            transform="translate(-2 -4)"
                                            fill="#a0a0a0"></path>
                                    </svg>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20.001" viewBox="0 0 16.041 20.001" class="svg replaced-svg">
                                        <path
                                            id="bell"
                                            d="M18.035,13.208V10.02A6.015,6.015,0,0,0,13.023,4.1V3a1,1,0,1,0-2.005,0V4.1A6.015,6.015,0,0,0,6.005,10.02v3.188A3.008,3.008,0,0,0,4,16.035V18.04a1,1,0,0,0,1,1H8.15a4.01,4.01,0,0,0,7.74,0h3.148a1,1,0,0,0,1-1V16.035a3.008,3.008,0,0,0-2.005-2.827ZM8.01,10.02a4.01,4.01,0,0,1,8.02,0v3.008H8.01Zm4.01,10.025a2.005,2.005,0,0,1-1.724-1h3.449A2.005,2.005,0,0,1,12.02,20.046Zm6.015-3.008H6.005v-1a1,1,0,0,1,1-1H17.033a1,1,0,0,1,1,1Z"
                                            transform="translate(-4 -2)"
                                            fill="#a0a0a0"></path>
                                    </svg>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <img src="../../assets/img/Dashboard/setting.png" alt="" />
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <img src="../../assets/img/Dashboard/flag.png" alt="" class="img-fluid" />
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link d-flex align-items-center" href="#">
                                    <img src="../../assets/img/Dashboard/avt.jpg" alt="" class="img-fluid" />
                                    <p class="profile-name mb-0 ms-2">
                                        Wibu
                                        <i class="profile-name-icon fa-solid fa-angle-down"></i>
                                    </p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        <!-- Main content -->
        <section class="main-content d-flex">
            <div class="sidebar show">
                <a href="" class="sidebar-link">
                    <div>
                        <span class="sidebar-icon">
                            <i class="fa-solid fa-chart-line"></i>
                        </span>
                        <span class="sidebar-name">Dashboard</span>
                    </div>
                    <span class="sidebar-toggle">
                        <i class="fa-solid fa-angle-right"></i>
                    </span>
                </a>
                <a href="" class="sidebar-link">
                    <div>
                        <span class="sidebar-icon">
                            <i class="fa-solid fa-arrow-trend-up"></i>
                        </span>
                        <span class="sidebar-name">Changelog</span>
                    </div>
                    <span class="sidebar-changlog"> 1.1.6 </span>
                </a>
                <div class="sidebar-title">
                    <span>PRODUCT MANAGER</span>
                </div>
                <a href="" class="sidebar-link" data-bs-toggle="modal" data-bs-target="#addProductModal">
                    <div>
                        <span class="sidebar-icon">
                            <i class="fa-solid fa-plus"></i>
                        </span>
                        <span class="sidebar-name">Add New</span>
                    </div>
                </a>
                <a href="./dashboard.html" class="sidebar-link">
                    <div>
                        <span class="sidebar-icon">
                            <i class="fa-solid fa-border-all"></i>
                        </span>
                        <span class="sidebar-name">View All</span>
                    </div>
                </a>
                <div class="sidebar-title">
                    <span>Applications</span>
                </div>
                <a href="" class="sidebar-link">
                    <div>
                        <span class="sidebar-icon">
                            <i class="fa-regular fa-envelope"></i>
                        </span>
                        <span class="sidebar-name">Email</span>
                    </div>
                    <span class="sidebar-toggle">
                        <i class="fa-solid fa-angle-right"></i>
                    </span>
                </a>
                <a href="" class="sidebar-link">
                    <div>
                        <span class="sidebar-icon">
                            <i class="fa-regular fa-comment"></i>
                        </span>
                        <span class="sidebar-name">Chat</span>
                    </div>
                    <span class="sidebar-chat me-4"> 3 </span>
                </a>
                <a href="" class="sidebar-link">
                    <div>
                        <span class="sidebar-icon">
                            <i class="fa-solid fa-briefcase"></i>
                        </span>
                        <span class="sidebar-name">eCommerce</span>
                    </div>
                    <span class="sidebar-toggle">
                        <i class="fa-solid fa-angle-right"></i>
                    </span>
                </a>
                <a href="" class="sidebar-link">
                    <div>
                        <span class="sidebar-icon">
                            <i class="fa-regular fa-folder"></i>
                        </span>
                        <span class="sidebar-name">Project</span>
                    </div>
                    <span class="sidebar-toggle">
                        <i class="fa-solid fa-angle-right"></i>
                    </span>
                </a>
                <a href="" class="sidebar-link">
                    <div>
                        <span class="sidebar-icon">
                            <i class="fa-regular fa-calendar"></i>
                        </span>
                        <span class="sidebar-name">Calendar</span>
                    </div>
                    <span class="sidebar-toggle">
                        <i class="fa-solid fa-angle-right"></i>
                    </span>
                </a>
                <a href="" class="sidebar-link">
                    <div>
                        <span class="sidebar-icon">
                            <i class="fa-regular fa-user"></i>
                        </span>
                        <span class="sidebar-name">User</span>
                    </div>
                    <span class="sidebar-toggle">
                        <i class="fa-solid fa-angle-right"></i>
                    </span>
                </a>
                <a href="" class="sidebar-link">
                    <div>
                        <span class="sidebar-icon">
                            <i class="fa-regular fa-address-card"></i>
                        </span>
                        <span class="sidebar-name">Contact</span>
                    </div>
                    <span class="sidebar-toggle">
                        <i class="fa-solid fa-angle-right"></i>
                    </span>
                </a>
                <a href="" class="sidebar-link">
                    <div>
                        <span class="sidebar-icon">
                            <i class="fa-regular fa-clipboard"></i>
                        </span>
                        <span class="sidebar-name">Note</span>
                    </div>
                </a>
                <a href="" class="sidebar-link">
                    <div>
                        <span class="sidebar-icon">
                            <i class="fa-regular fa-square-check"></i>
                        </span>
                        <span class="sidebar-name">To-Do</span>
                    </div>
                </a>
                <a href="" class="sidebar-link">
                    <div>
                        <span class="sidebar-icon">
                            <i class="fa-solid fa-up-down-left-right"></i>
                        </span>
                        <span class="sidebar-name">Kanban Board</span>
                    </div>
                </a>
                <a href="" class="sidebar-link">
                    <div>
                        <span class="sidebar-icon">
                            <i class="fa-solid fa-arrow-right-arrow-left"></i>
                        </span>
                        <span class="sidebar-name">Import & Export</span>
                    </div>
                    <span class="sidebar-toggle">
                        <i class="fa-solid fa-angle-right"></i>
                    </span>
                </a>
                <a href="" class="sidebar-link">
                    <div>
                        <span class="sidebar-icon">
                            <i class="fa-regular fa-file"></i>
                        </span>
                        <span class="sidebar-name">File Manager</span>
                    </div>
                </a>
                <a href="" class="sidebar-link">
                    <div>
                        <span class="sidebar-icon">
                            <i class="fa-regular fa-lightbulb"></i>
                        </span>
                        <span class="sidebar-name">Task App</span>
                    </div>
                </a>
                <a href="" class="sidebar-link">
                    <div>
                        <span class="sidebar-icon">
                            <i class="fa-regular fa-bookmark"></i>
                        </span>
                        <span class="sidebar-name">Bookmarks</span>
                    </div>
                </a>
                <a href="" class="sidebar-link">
                    <div>
                        <span class="sidebar-icon">
                            <i class="fa-solid fa-lines-leaning"></i>
                        </span>
                        <span class="sidebar-name">Learning App</span>
                    </div>
                    <span class="sidebar-toggle">
                        <i class="fa-solid fa-angle-right"></i>
                    </span>
                </a>
            </div>
            <div class="data-list flex-grow-1">
                <div class="container-fluid">
                    <!-- CONTENT HEADER  -->
                    <div class="content-header d-flex align-items-center">
                        <div class="d-flex align-items-center">
                            <h2 class="content-title mb-0">Data List</h2>
                            <button id="addNewBtn" class="btn btn-primary-db" data-bs-toggle="modal" data-bs-target="#addProductModal">
                                <i class="fa-solid fa-plus me-1"></i>
                                Add New
                            </button>
                        </div>
                        <div class="input-group ms-auto">
                            <span id="search-btn" class="search-pd-btn input-group-text bg-white border-0">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </span>
                            <input type="text" id="searchNameInput" class="form-control" placeholder="Search by Name" />
                        </div>
                    </div>

                    <!-- CONTENT BODY  -->
                    <div class="content-body">
                        <div class="table-header d-flex align-items-center justify-content-between">
                            <h3 class="mb-0">Product List</h3>
                            <div class="d-flex">
                                <p class="mb-0">Sort by price</p>
                                <div class="ms-1 sort-price">
                                    <input type="radio" name="sort-price" class="d-none" id="price-ascending" value="ascending" />
                                    <label for="price-ascending" class="sort-label">
                                        <i class="fa-solid fa-arrow-up-1-9"></i>
                                    </label>
                                    <input type="radio" name="sort-price" class="d-none" id="price-descending" value="descending" />
                                    <label for="price-descending" class="sort-label">
                                        <i class="fa-solid fa-arrow-down-9-1"></i>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="table-body">
                            <table class="product-list w-100">
                                <thead class="table-title">
                                    <tr>
                                        <th class="col-5per">ID</th>
                                        <th class="col-10per">Image</th>
                                        <th class="col-20per">Name</th>
                                        <th class="col-20per">Size</th>
                                        <th class="col-5per">Qty</th>
                                        <th class="col-10per">Price (USD)</th>
                                        <th class="col-10per">Discount (%)</th>
                                        <th class="col-10per">Sale Price</th>
                                        <th class="col-15per text-end">Action</th>
                                    </tr>
                                </thead>
                                <tbody id="productContent"></tbody>
                            </table>
                        </div>
                    </div>

                    <!-- CONTENT FOOTER  -->
                    <div class="content-footer">

                    </div>

                    <!-- FOOTER  -->
                    <div class="page-footer container-fluid d-flex justify-content-between align-items-center">
                        <div class="footer__left">
                            <span>&copy; 2023</span>
                            <a href="" class="ms-1 text-decoration-none">Cybersoft BC47 - Group 15</a>
                        </div>
                        <ul class="list-unstyled ps-0 mb-0 d-flex">
                            <li>
                                <a href="#" class="nav-link">About</a>
                            </li>
                            <li>
                                <a href="#" class="nav-link ms-3">Team</a>
                            </li>
                            <li>
                                <a href="#" class="nav-link ms-3">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <!-- Show status  -->
        <div class="notice-status"></div>

        <!-- Modal Body -->
        <div class="modal fade" id="addProductModal" tabindex="-1" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg" role="document">
                <div class="modal-content px-3">
                    <div class="modal-header py-4 justify-content-center">
                        <h4 class="mb-0">Add Product</h4>
                    </div>
                    <div class="modal-body">
                        <form action="" id="addProductForm">
                            <div class="form-group mb-2">
                                <label for="" class="form-label">Image</label>
                                <input type="text" name="img" id="productImg" class="form-control" rules="required" placeholder="Ex: https://www.nytimes.com/wirecutter/reviews/best-white-sneakers/" aria-describedby="helpId" />
                                <small id="helpId" class="form-message"></small>
                            </div>
                            <div class="form-group mb-2">
                                <label for="" class="form-label">Name</label>
                                <input type="text" name="name" id="productName" class="form-control" rules="required" placeholder="Ex: Umino Juniper Trail 2 Next Nature" aria-describedby="helpId" />
                                <small id="helpId" class="form-message"></small>
                            </div>
                            <div class="row mt-2">
                                <div class="col-8 form-group mb-2">
                                    <label for="" class="form-label">Size</label>
                                    <input type="text" name="size" id="productSize" class="form-control" rules="required" placeholder="Separate selections with spaces. Ex: 36 37 38 ..." aria-describedby="helpId" />
                                    <small id="helpId" class="form-message"></small>
                                </div>
                                <div class="col-4 form-group mb-2">
                                    <label for="" class="form-label">Quantity</label>
                                    <input type="text" name="qty" id="productQty" class="form-control" rules="required|number" placeholder="100" aria-describedby="helpId" />
                                    <small id="helpId" class="form-message"></small>
                                </div>
                            </div>
                            <div class="mt-2 row">
                                <div class="col-6 form-group mb-2">
                                    <label for="" class="form-label">Price (USD)</label>
                                    <input type="text" name="price" id="productPrice" class="form-control" rules="required|number" placeholder="Ex: 120" aria-describedby="helpId" />
                                    <small id="helpId" class="form-message"></small>
                                </div>
                                <div class="col-3 form-group mb-2">
                                    <label for="" class="form-label">Discount (%)</label>
                                    <input type="number" name="discount" rule="" id="productDiscount" class="form-control" placeholder="Ex: 10%" aria-describedby="helpId" />
                                    <small id="helpId" class="form-message"></small>
                                </div>
                                <div class="col-3 form-group mb-2">
                                    <label for="" class="form-label">Sale Price (USD)</label>
                                    <input type="text" id="productSalePrice" class="form-control" disabled aria-describedby="helpId" />
                                    <small id="helpId" class="form-message"></small>
                                </div>
                            </div>
                            <div class="form-group mb-2">
                                <label for="" class="form-label">Description</label>
                                <textarea
                                    class="form-control"
                                    rules="required"
                                    name="desc"
                                    id="productDesc"
                                    cols="30"
                                    rows="3"
                                    placeholder="Ex: The garments labelled as committed are products that have been produced using sustainable fibres or processes, reducing their environmental impact."></textarea>
                                <small id="helpId" class="form-message"></small>
                            </div>
                            <div class="text-end">
                                <button type="button" id="closeModalAddBtn" class="btn btn-secondary-db" data-bs-dismiss="modal">Close</button>
                                <button id="submitFormBtn" class="btn btn-primary-db">Add Now!</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Bootstrap JavaScript Libraries -->
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>

        <script src="../controllers/dashboard.js"></script>
        <script type="module" src="../../assets/js/main.js"></script>
    </body>
</html>
